*.log
*.dat
*.pyc
*.swp
derby.log
metastore_db
*.env
book.sqlite
/.idea/workspace.xml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

.DS_Store
.idea/
.pytest_cache/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

src/libs/pyspark_shared_libs_8451*
*ipynb_checkpoints*
venv/
